{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workflow</title>
    <link rel="stylesheet" href="{% static 'css/recommendService.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_footer.css' %}">
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId={{ naver_map_api_key }}"></script>
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        {% include 'common/navbar.html' %}
    </header>

    <!-- Main Section -->
    <main class="main-content">
        <div class="section1">
            <div class="naverMap" id="map"></div>
                <script src="{% static 'js/map_control.js' %}"></script>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        {% include 'common/footer.html' %}
    </footer>

    <script src="{%static 'js/button_logic.js' %}"></script>
</body>
</html>
