* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
/* 
body {
    background: url('../../static/image/background-image.jpg') no-repeat center center / cover;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
} */

body {
    background-color: white;
}


/* Main */
.main-content {
    
}

.section1 {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 4rem;
    gap: 50px;
}


.top-text h1 {
    font-size: 2.1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.right-box {
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 25px;
}   

.right-box h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.right-box p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-size: 0.95rem;
}

.main-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
}



.input-box {
    background-color: rgba(198, 203, 216, 0.418);
    width: 100%;
    padding: 15px;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-box:hover {
    box-shadow: 0 0 4px rgba(27, 150, 74, 0.5);
}

.input-box:focus {
    outline: none;
    box-shadow: 0 0 6px rgba(27, 150, 74, 0.5);
}

.input_text {
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-button-box {
    margin-top: 20px;
}
.page-login-button {
    background-color: white;
    color: rgb(70, 202, 121);
    border: 1px solid rgb(70, 202, 121);
    width: 100%;
    height: 3rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.page-login-button:hover {
    background-color: rgba(123, 216, 158, 0.384);
}