* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
/* 
body {
    background: url('../../static/image/background-image.jpg') no-repeat center center / cover;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
} */

body {
    background-color: white;
}


/* Main */
.main-content {
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 80px + 100px); /* 80px는 footer, 400px는 menu의 margin-top */
}

.section1 {
    /* background: url('../images/background-image.jpg') no-repeat center center / cover; */
    background-color: white;
    /* height: 100vh; */
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 4rem;
}


.left-text h1 {
    font-size: 4rem;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

.left-text span {
    color: #4400ff;
}

.right-box {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 20px;
}

.right-box h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: #ffffff;
    color: rgb(22, 22, 22);
    width: 70%;
    padding: 0.7rem 1.5rem;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.main-button:hover {
    background-color: #f0f0f0;
    border-color: #ccc;
}

.rateplan-box {
    background-color: rgba(245, 245, 245, 0.815);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-items: center;
    width: 40%;
    position: relative;
    border-radius: 20px;
    border: 0.5px solid rgba(197, 197, 197, 0.822);
}

.box-content {
    margin-bottom: 70px;
}

.rateplan-box li {
    list-style: none;
}
.rateplan-box span {
    font-size: 20px;
    font-weight: 600;
}
.rateplan-box strong {
    font-weight: 700;
}

.price {
    display: flex;
    gap: 7px;
}

.price h2 {
    font-size: 55px;
    font-weight: 500;
}

.krw-month {
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    margin-top: 22px;
}

.dollar {
    font-size: 30px;
    font-weight: 400;
}
