{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workflow</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_footer.css' %}">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        {% include 'common/navbar.html' %}
    </header>

    <!-- Main Section -->
    <main class="main-content">
        <div class="section1">
            <div class="top-text">
                <h1>로그인</h1>
            </div>
            <form method="POST" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <div class="right-box">
                    <div class="login-box">
                        <label class="input_text">아이디</label>
                        <input class="input-box" name="userid" type="text" placeholder="아이디를 입력하세요">
                    </div>
                    <div class="login-box">
                        <label class="input_text">비밀번호</label>
                        <input class="input-box" name="password" type="password" placeholder="비밀번호를 입력하세요">
                    </div>
                    
                    <div class="error-msg">
                        {% if error %}
                            {{ error }}
                        {% endif %}
                    </div>
                    
                    <div class="login-button-box">
                        <button type="submit" class="page-login-button" id="login-button">로그인</button>
                    </div>
                    <p class="sign-up-text">어데집이 처음이시라면 <a class="sign-up-a" href="{% url 'accounts:signup' %}">회원가입</a></p>
                </div>
            </form>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        {% include 'common/footer.html' %}
    </footer>

    <script src="{%static 'js/button_logic.js' %}"></script>
</body>
</html>
