{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workflow</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_footer.css' %}">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        {% include 'common/navbar.html' %}
    </header>

    <!-- Main Section -->
    <main class="main-content">
        <img class="background-image1" src="{% static 'images/1111.png' %}" alt="배경 이미지1">
        <img class="background-image2" src="{% static 'images/2222.png' %}" alt="배경 이미지2">
        <div class="section1">
            <div class="left-text">
                <h1>Let's work<br>together</h1>
                <h2><span class=highlight-text>WorkFlow</span> 와 함께하세요 !</h2>
            </div>
            <div class="menu">
                <ul>
                    <a class="menu-item" href="{% url 'introduction' %}">
                        <div class="menu-item-content">
                            <img src="{% static 'images/img1.png' %}" alt="추천 업종 이미지">
                            <h1>소개</h1>
                            <h3>서비스를 이용하기 전 알아봅시다.</h3>
                        </div>
                    </a>
                    <a class="menu-item" href="{% url 'recommendService:recommendService' %}">
                        <div class="menu-item-content">
                            <img src="{% static 'images/img2.png' %}" alt="추천 업종 이미지" style="width: 70%; height: 60%;">
                            <h1>시장 조사</h1>
                            <h3>사장님이 되기 전 주변을 알아봅시다.</h3>
                        </div>
                    </a>
                    <a class="menu-item" href="{% url 'recommendService:recommendService' %}">
                        <div class="menu-item-content">
                            <img src="{% static 'images/img3.png' %}" alt="추천 업종 이미지">
                            <h1>추천 업종</h1>
                            <h3>부산에서 뜨는 업종을 추천해드립니다.</h3>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        {% include 'common/footer.html' %}
    </footer>

    <script src="{%static 'js/button_logic.js' %}"></script>
</body>
</html>
