{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workflow</title>
    <link rel="stylesheet" href="{% static 'css/priceInfo.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_footer.css' %}">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        {% include 'common/navbar.html' %}
    </header>

    <!-- Main Section -->
    <main class="main-content">
        <div class="section1">
            <div class="left-text">
                <h1>Rate Plan <br>Series</h1>
            </div>
            <div class="right-box">
                <div class="rateplan-box">
                    <h2><strong>Workflow-Basic</strong></h2>
                    <p>HD(720p)로 좋은 화질 제공. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 1개 디바이스에 저장 가능.KT 청구서에 통합.
                        HD(720p)로 좋은 화질 제공. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 1개 디바이스에 저장 가능.KT 청구서에 통합.
                        HD(720p)로 좋은 화질 제공. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 1개 디바이스에 저장 가능.KT 청구서에 통합.</p>
                    <button class="main-button">선택</button>
                </div>
                <div class="rateplan-box">
                    <h2><strong>Workflow-Standard</strong></h2>
                    <p>풀 HD(1080p)로 매우 좋은 화질 제공. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 2개 디바이스에 저장 가능.월 4,000원의 추가 요금이 KT 청구서에 통합. *
                        풀 HD(1080p)로 매우 좋은 화질 제공. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 2개 디바이스에 저장 가능.월 4,000원의 추가 요금이 KT 청구서에 통합. *
                        풀 HD(1080p)로 매우 좋은 화질 제공. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 2개 디바이스에 저장 가능.월 4,000원의 추가 요금이 KT 청구서에 통합. *
                    </p>
                    <button class="main-button">선택</button>
                </div>
                <div class="rateplan-box">
                    <h2><strong>Workflow-Pro</strong></h2>
                    <p>UHD(4K) 및 HDR로 가장 좋은 화질 제공. 공간 음향 지원. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 6개 디바이스에 저장 가능.월 7,500원의 추가 요금이 KT 청구서에 통합. *
                        UHD(4K) 및 HDR로 가장 좋은 화질 제공. 공간 음향 지원. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 6개 디바이스에 저장 가능.월 7,500원의 추가 요금이 KT 청구서에 통합. *
                        UHD(4K) 및 HDR로 가장 좋은 화질 제공. 공간 음향 지원. 스마트폰, 태블릿, 컴퓨터 또는 TV로 광고 없이 시청. 6개 디바이스에 저장 가능.월 7,500원의 추가 요금이 KT 청구서에 통합. *
                    </p>
                    <button class="main-button">선택</button>
                </div>
                
                
            </div>
        </div>
        <div class="section2">
            <h1>wow!</h1>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        {% include 'common/footer.html' %}
    </footer>

    <script src="{%static 'js/button_logic.js' %}"></script>
</body>
</html>
